@charset "UTF-8";
@import url(../lib/swiper.min.css);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

html {
  font-size: 100px; }

body {
  font-family: "Microsoft YaHei"; }

i, b {
  font-style: normal;
  font-weight: normal; }

/* 定义字体图标 */
@font-face {
  font-family: "iconfont";
  src: url("../../../images/iconfont/iconfont.ttf"), url("../../../images/iconfont/iconfont.woff"); }
@font-face {
  font-family: "iconmenu";
  src: url("../../../images/iconfont/iconfont-menu.ttf"), url("../../../images/iconfont/iconfont-menu.woff"); }
@font-face {
  font-family: "iconback";
  src: url("../../../images/iconfont/iconfont-back.ttf"), url("../../../images/iconfont/iconfont-back.woff"); }
@font-face {
  font-family: "iconclet";
  src: url("../../../images/iconfont1/iconfont.ttf"), url("../../../images/iconfont1/iconfont.woff"); }
/* 定义一个宏 */
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column; }
  .container header {
    height: 44px;
    background: #0cc140; }
    .container header ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex;
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      color: #fff;
      font-size: .16rem; }
      .container header ul > li {
        line-height: 44px; }
        .container header ul > li:nth-child(2) {
          -webkit-flex: 1;
          flex: 1; }
          .container header ul > li:nth-child(2) p {
            width: 1.18rem;
            height: 0.25rem;
            margin: 9px auto 0 auto;
            font-size: .12rem;
            display: -webkit-flex;
            display: -moz-flex;
            display: -o-flex;
            display: -ms-flex;
            display: flex;
            border-radius: 0.5rem;
            overflow: hidden; }
            .container header ul > li:nth-child(2) p span {
              width: 0.59rem;
              height: 0.25rem;
              text-align: center;
              line-height: 0.25rem;
              background: rgba(100, 217, 133, 0.7);
              color: rgba(255, 255, 255, 0.7); }
              .container header ul > li:nth-child(2) p span.active {
                background: #64d985;
                color: white; }
        .container header ul > li:not(:nth-child(2)) {
          width: 0.44rem;
          text-align: center;
          font-weight: 200; }
        .container header ul > li.icon-menu {
          font-family: "iconmenu"; }
        .container header ul > li.icon-sm {
          font-family: "iconfont"; }
  .container section {
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-flex: 1;
    flex: 1;
    font-size: 0.14rem; }
    .container section .nav {
      height: 0.36rem;
      background: #edeef0;
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex;
      display: flex; }
      .container section .nav li {
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
        line-height: 0.36rem;
        border-bottom: 1px solid #e2e3e5; }
        .container section .nav li.active {
          border-bottom: 2px solid #519765;
          color: #529665; }
    .container section .swiper-container {
      width: 100%; }
    .container section .content {
      -webkit-flex: 1;
      flex: 1;
      position: relative;
      overflow: hidden; }
      .container section .content .scroller {
        position: relative;
        padding-top: 0.05rem; }
        .container section .content .scroller ul {
          display: -webkit-flex;
          display: -moz-flex;
          display: -o-flex;
          display: -ms-flex;
          display: flex; }
          .container section .content .scroller ul li:not(:nth-child(2)) {
            -webkit-flex: 1;
            flex: 1; }
          .container section .content .scroller ul li:nth-child(2) {
            width: 0.05rem; }
          .container section .content .scroller ul li img {
            width: 100%;
            height: 100%; }
          .container section .content .scroller ul li b {
            height: 0.28rem;
            line-height: 0.28rem;
            padding-left: 0.1rem; }
  .container footer {
    position: relative;
    height: 0.44rem;
    font-size: .14rem;
    border-top: 1px solid #ccc;
    padding-top: 0.06rem;
    background: #fff;
    box-sizing: border-box; }
    .container footer ol {
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex;
      display: flex; }
      .container footer ol li {
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex: 1;
        flex: 1;
        -webkit-flex-direction: column; }
        .container footer ol li i {
          font-family: "iconfont";
          text-align: center; }
        .container footer ol li:nth-child(3) {
          position: relative; }
          .container footer ol li:nth-child(3) i {
            position: absolute;
            left: 50%;
            top: -0.14rem;
            background: #fff;
            width: 0.5rem;
            height: 0.5rem;
            border: 1px solid #666;
            border-radius: 50%;
            -webkit-transform: translate(-50%, 0);
            font-size: 0.4rem;
            line-height: 0.5rem; }
        .container footer ol li b {
          text-align: center; }

/*# sourceMappingURL=app.css.map */
